APP_ENV=development
PORT=8000
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

USE_MOCK_DATA=false
ALLOW_MOCK_MOT_FALLBACK=true

DVLA_API_KEY=
DVLA_API_BASE_URL=https://driver-vehicle-licensing.api.gov.uk/vehicle-enquiry/v1/vehicles
DVLA_TIMEOUT_SECONDS=8

DVSA_CLIENT_ID=
DVSA_CLIENT_SECRET=
DVSA_API_KEY=
DVSA_SCOPE_URL=https://tapi.dvsa.gov.uk/.default
DVSA_TOKEN_URL=
DVSA_API_BASE_URL=https://history.mot.api.gov.uk/v1/trade/vehicles/registration
DVSA_TOKEN_TIMEOUT_SECONDS=10
DVSA_TIMEOUT_SECONDS=10
